<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="magexo_pos_pos_listing_data_source" xsi:type="string">Magexo\Pos\Model\ResourceModel\PosEntity\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magexo\Pos\Model\ResourceModel\PosEntity\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">pos_entity</argument>
            <argument name="resourceModel" xsi:type="string">Magexo\Pos\Model\ResourceModel\PosEntity</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="New POS" xsi:type="object">Magexo\Pos\Console\Command\NewPos</item>
            </argument>
        </arguments>
    </type>
</config>
